:root {
  --dark-color: #1c1d21;
  --accent-color: #A288A6;
  --secondary-color: #BB9BB0;
  --light-color: #F1E3E4;
  --light-accent-color: #CCBCBC;
}

/* Containers */
.container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.container_width {
  width: 100%;
}

.container_height {
  height: 100%;
}

.container_absolute__dialog_full-screen {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 80%);
}

.image_dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image_dialog__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 80vw;
  height: 80vh;
  object-fit: contain;
}

.container__separator {
  min-width: 4px;
  max-width: 4px;
  
  border-radius: 360px;
  
  height: 98%;

  background-color: var(--accent-color);
}

.container_gap {
  gap: 20px;
}

.container_margin {
  margin: 20px;
}

.container_margin-horizontal {
  margin: 0px 20px;
}

.container_margin-vertical {
  margin: 20px 0px;
}

.container_padding {
  padding: 20px;
}

.container_padding-horizontal {
  padding: 0px 20px;
}

.container_padding-vertical {
  padding: 20px 0px;
}

.container_vertical {
  flex-direction: column;
  display: flex;
}

.container_vertical_top {
  justify-content: flex-start;
}

.container_vertical_left {
  align-items: flex-start;
}

.container_vertical_right {
  align-items: flex-end;
}

.container_vertical_center-Y {
  justify-content: center;
}

.container_vertical_center-X {
  align-items: center;
}

.container_horizontal {
  flex-direction: row;
  display: flex;
}

.container_horizontal_left {
  justify-content: flex-start;
}

.container_horizontal_right {
  justify-content: flex-end;
}

.container_horizontal_center-X {
  align-items: center;
}

.container_horizontal_center-Y {
  justify-content: center;
}

/* Components */
.image {
  max-width: 500px;
  max-height: 300px;
  padding: 10px;
  margin: 0px 20px;
  border: 6px dashed var(--accent-color);
  border-radius: 20px;

  &:hover {
    border: 6px solid var(--accent-color);
  }
}

.slider__input {
  width: 60px;
}

.card-bordered {
  font-size: x-large;
  font-weight: 600;
  padding: 20px;
  border-radius: 20px;
  color: var(--light-color);
  text-align: center;
  border: 2px solid var(--light-color);
}

.button {
  font-size: x-large;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-align: center;
  color: var(--light-color);
}

.button__default {
  background-color: var(--light-color);
  color: var(--dark-color);

  &:hover {
    background-color: #b5abac;
  }
}

.button__secondary {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);

  &:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
  }
}

.button__danger {
  border: 2px solid red;
  color: red;

  &:hover {
    background-color: red;
    color: var(--dark-color);
  }
}

/* Text */
.text_big-font {
  font-size: xx-large;
}

.text_normal-font {
  font-size: x-large;
}

.text_small-font {
  font-size: larger;
}

.text_normal {
  font-weight: 500;
}

.text_bold {
  font-weight: 700;
}

.text_default {
  color: var(--light-color);
}

.text_secondary {
  color: var(--accent-color);
}

.text_danger {
  color: red;
}

.text_black {
  color: black;
}

.text_left {
  text-align: left;
}

/* Initial styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}

input[type='file'] {
  display: none;
  position: absolute;
}

body:not(.loaded) {
  visibility: hidden;
  opacity: 0;
}

body.loaded {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

body {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  background-color: var(--dark-color);
  color: var(--light-color);

  display: flex;
}

.disabled {
  display: none;
}

.spinner {
  border: 16px solid #F1E3E4;
  border-top: 16px solid #A288A6;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.value-picker {
  padding: 8px;
  width: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
